[Unit]
Description=EyeCatch Bridge Service
After=multi-user.target bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Capstone-Baby-Vision-bridge/4_bridge_service
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/Capstone-Baby-Vision-bridge/4_bridge_service/start.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target